name: Haskell CI

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CONFIG: "--enable-tests --enable-benchmarks"

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1, 2025-12-02

      - uses: nixbuild/nix-quick-install-action@2c9db80fb984ceb1bcaa77cdda3fdf8cfba92035 # v34, 2025-09-24
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true

      - name: Restore and save Nix store
        uses: nix-community/cache-nix-action@106bba72ed8e29c8357661199511ef07790175e9 # v7, 2026-01-08
        with:
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-
          gc-max-store-size-linux: 1G
          purge: true
          purge-prefixes: nix-${{ runner.os }}-
          purge-created: 0
          purge-last-accessed: P1DT12H
          purge-primary-key: never

      - name: Build Nix dev shell
        run: nix develop -c true

      - name: Check cabal file version is in sync
        run: nix develop -c .github/hooks/check-cabal-sync.sh

      - name: Build source code
        run: nix develop -c cabal build $CONFIG

      - name: Test
        run: nix develop -c cabal test $CONFIG --test-show-details=always

      - name: Run HLint
        run: nix develop -c hlint src/

      - name: Run benchmarks
        run: nix develop -c cabal bench $CONFIG

      - name: Generate Haddock
        run: nix develop -c cabal haddock $CONFIG

      - name: Generate sdist for package release
        run: |
          rm -rf dist-newstyle/sdist/
          nix develop -c cabal sdist

      - name: Upload to Hackage
        if: startsWith(github.ref, 'refs/tags/v')
        run: nix develop -c cabal upload --publish --token "${{ secrets.HACKAGE_TOKEN }}" dist-newstyle/sdist/evm-opcodes-*.tar.gz

      - name: Create GitHub Release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0, 2025-12-01
        with:
          files: dist-newstyle/sdist/evm-opcodes-*.tar.gz
          generate_release_notes: true
